{% block sw_cms_element_preview_test_slider %}
    <div class="sw-cms-element-preview-test-slider">
        <sw-icon name="default-arrow-head-left" size="20"></sw-icon>
        <div>
            <img :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset">
        </div>
        <sw-icon name="default-arrow-head-right" size="20"></sw-icon>
    </div>
{% endblock %}