{% block sw_cms_element_test_slider_preview %}
    <div class="sw-cms-el-preview-test-slider">
        <sw-icon name="default-arrow-head-left" size="10"></sw-icon>
        <div>
            <img :src="'/administration/static/img/cms/default_preview_product_list.jpg' | asset">
        </div>
        <sw-icon name="default-arrow-head-right" size="10"></sw-icon>
    </div>
{% endblock %}